<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>角色管理</title>

    <link href="${baseRoot!}/components/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="${baseRoot!}/components/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link rel="stylesheet" href="${baseRoot!}/components/jstree/themes/default/style.min.css" />
    <link rel="stylesheet" href="${baseRoot!}/css/box.css">
    <script src="${baseRoot!}/js/jquery-3.2.1.min.js"></script>

</head>
<style>
    body{
        width:100%;
        height:100%;
        overflow: hidden;
    }
</style>
<body>
<div class="container-fluid box">
    <form id="userForm" class="form-horizontal" role="form">
        <input type="hidden" name="roleId" value="${(sysRole.id)!}">

        <!-- 菜单权限 -->
        <div class="form-group">
            <label class="col-sm-2 control-label"><h4>菜单权限</h4></label>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <div id="funcTree"></div>
            </div>
        </div>

        <!-- 数据权限 -->
        <div class="form-group">
            <label class="col-sm-2 control-label"><h4>数据权限</h4></label>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <div class="radio">
                    <label>
                        <input type="radio" name="dataType" value="0" checked> 全部
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="dataType" value="1"> 所在部门及下级部门
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="dataType" value="2"> 自己及直接下级
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="dataType" value="3"> 特定部门
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group" style="display:none;">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <div id="dataTree"></div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">保存</button>
                <button type="button" class="btn btn-default" onclick="parent.layerClose();">取消</button>
            </div>
        </div>
    </form>
</div>

<script src="${baseRoot!}/components/bootstrap/js/bootstrap.min.js"></script>
<script src="${baseRoot!}/js/jquery.validate.js"></script>
<script src="${baseRoot!}/components/layer/layer.js"></script>
<script src="${baseRoot!}/components/jstree/jstree.min.js"></script>
<script>
    $(function () {
        $("[name=dataType]").click(function () {
            if ($(this).val() == 3) {
                $("#dataTree").parent().parent().show();
            } else {
                $("#dataTree").parent().parent().hide();
            }
        });

        var dataType = '${(sysRole.dataType)!}';
        $("[name='dataType'][value='"+dataType+"']").prop('checked',true);
        if (dataType == 3) {
            $("#dataTree").parent().parent().show();
        }

        $("#userForm").validate({
            rules:{
//                name:'required',
//                enName:'required'
            },
            messages:{
//                name:'登录名不能为空',
//                enName:'密码不能为空'
            },
            submitHandler:function (form) {
                var data = $(form).serialize();
                var menuIds = $('#funcTree').jstree(true).get_selected();
                data += '&menuIds='+menuIds;
                if ($("[name=dataType]:checked").val() == 3) {
                    var dataIds = $('#dataTree').jstree(true).get_selected();
                    data += '&dataIds='+dataIds;
                }

                $.ajax({
                    url:'${baseRoot!}/admin/role/savepermissions',
                    type:'POST',
                    data:data,
                    dataType:'json',
                    success:function(data) {
                        if (data.code == 0) {
                            layer.msg(data.msg);
                            setTimeout(function () {
                                parent.reloadPage();
                            },1000);
                        } else {
                            layer.msg(data.msg);
                        }
                    }
                });
            }
        });

        var menuIds = '${menuIds!}';
        $('#funcTree').jstree({
            'core' : {
                'data': {
                    'url': '${baseRoot!}/admin/menu/tree?menuIds='+menuIds,
                    'data': function (node) {
                        return {'id': node.id};
                    }
                }
            },
            "checkbox" : {
                "keep_selected_style" : false,
                "cascade":'',
                "three_state":false
            },
            "plugins" : [ "checkbox" ]
        });

        var departmentIds = '${departmentIds!}';
        $('#dataTree').jstree({
            'core' : {
                'data': {
                    'url': '${baseRoot!}/admin/department/tree?departmentIds='+departmentIds,
                    'data': function (node) {
                        return {'id': node.id};
                    }
                }
            },
            "checkbox" : {
                "keep_selected_style" : false,
                "cascade":'',
                "three_state":false
            },
            "plugins" : [ "checkbox" ]
        });

    });

</script>
</body>
</html>