<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ynnjii.sys.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.ynnjii.sys.domain.SysUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="login_date" jdbcType="TIMESTAMP" property="loginDate" />
    <result column="login_flag" jdbcType="INTEGER" property="loginFlag" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
  </resultMap>

  <sql id="Base_Column_List">
    id, department_id, login_name, password, no, name, email, phone, mobile, user_type,
    photo, login_ip, login_date, login_flag, create_by, create_date, update_by, update_date,
    remarks, del_flag, salt
  </sql>

  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from sys_user
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <select id="select" parameterType="com.ynnjii.sys.domain.SysUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_user
    <trim prefix="where" prefixOverrides="and|or">
      <if test="id != null and id !=  -1 ">
        id = #{id,jdbcType=INTEGER}
      </if>
      <if test="departmentId != null and departmentId !=  -1 ">
        and department_id = #{departmentId,jdbcType=INTEGER}
      </if>
      <if test="loginName != null and loginName !=  ''">
        and login_name = #{loginName,jdbcType=VARCHAR}
      </if>
      <if test="password != null and password !=  ''">
        and password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="no != null and no !=  ''">
        and no = #{no,jdbcType=VARCHAR}
      </if>
      <if test="name != null and name !=  ''">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="email != null and email !=  ''">
        and email = #{email,jdbcType=VARCHAR}
      </if>
      <if test="phone != null and phone !=  ''">
        and phone = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="mobile != null and mobile !=  ''">
        and mobile = #{mobile,jdbcType=VARCHAR}
      </if>
      <if test="userType != null and userType !=  -1 ">
        and user_type = #{userType,jdbcType=INTEGER}
      </if>
      <if test="photo != null and photo !=  ''">
        and photo = #{photo,jdbcType=VARCHAR}
      </if>
      <if test="loginIp != null and loginIp !=  ''">
        and login_ip = #{loginIp,jdbcType=VARCHAR}
      </if>
      <if test="loginDate != null ">
        and login_date = #{loginDate,jdbcType=TIMESTAMP}
      </if>
      <if test="loginFlag != null and loginFlag !=  -1 ">
        and login_flag = #{loginFlag,jdbcType=INTEGER}
      </if>
      <if test="createBy != null and createBy !=  -1 ">
        and create_by = #{createBy,jdbcType=INTEGER}
      </if>
      <if test="createDate != null ">
        and create_date = #{createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="updateBy != null and updateBy !=  -1 ">
        and update_by = #{updateBy,jdbcType=INTEGER}
      </if>
      <if test="updateDate != null ">
        and update_date = #{updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="remarks != null and remarks !=  ''">
        and remarks = #{remarks,jdbcType=VARCHAR}
      </if>
      <if test="delFlag != null and delFlag !=  -1 ">
        and del_flag = #{delFlag,jdbcType=INTEGER}
      </if>
      <if test="salt != null and salt !=  ''">
        and salt = #{salt,jdbcType=VARCHAR}
      </if>
    </trim>
  </select>

  <insert id="insert" keyProperty="id" parameterType="com.ynnjii.sys.domain.SysUser" useGeneratedKeys="true">
    insert into sys_user (id, department_id, login_name,
    password, no, name,
    email, phone, mobile,
    user_type, photo, login_ip,
    login_date, login_flag, create_by,
    create_date, update_by, update_date,
    remarks, del_flag, salt
    ) values
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.id,jdbcType=INTEGER}, #{item.departmentId,jdbcType=INTEGER}, #{item.loginName,jdbcType=VARCHAR},
      #{item.password,jdbcType=VARCHAR}, #{item.no,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR},
      #{item.email,jdbcType=VARCHAR}, #{item.phone,jdbcType=VARCHAR}, #{item.mobile,jdbcType=VARCHAR},
      #{item.userType,jdbcType=INTEGER}, #{item.photo,jdbcType=VARCHAR}, #{item.loginIp,jdbcType=VARCHAR},
      #{item.loginDate,jdbcType=TIMESTAMP}, #{item.loginFlag,jdbcType=INTEGER}, #{item.createBy,jdbcType=INTEGER},
      #{item.createDate,jdbcType=TIMESTAMP}, #{item.updateBy,jdbcType=INTEGER}, #{item.updateDate,jdbcType=TIMESTAMP},
      #{item.remarks,jdbcType=VARCHAR}, #{item.delFlag,jdbcType=INTEGER}, #{item.salt,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

  <update id="update" parameterType="com.ynnjii.sys.domain.SysUser">
    <foreach close="" collection="list" index="index" item="item" open="" separator=";">
      update sys_user
      <set>
        <if test="item.departmentId != null and item.departmentId !=  -1 ">
          department_id = #{item.departmentId,jdbcType=INTEGER},
        </if>
        <if test="item.loginName != null and item.loginName !=  ''">
          login_name = #{item.loginName,jdbcType=VARCHAR},
        </if>
        <if test="item.password != null and item.password !=  ''">
          password = #{item.password,jdbcType=VARCHAR},
        </if>
        <if test="item.no != null and item.no !=  ''">
          no = #{item.no,jdbcType=VARCHAR},
        </if>
        <if test="item.name != null and item.name !=  ''">
          name = #{item.name,jdbcType=VARCHAR},
        </if>
        <if test="item.email != null and item.email !=  ''">
          email = #{item.email,jdbcType=VARCHAR},
        </if>
        <if test="item.phone != null and item.phone !=  ''">
          phone = #{item.phone,jdbcType=VARCHAR},
        </if>
        <if test="item.mobile != null and item.mobile !=  ''">
          mobile = #{item.mobile,jdbcType=VARCHAR},
        </if>
        <if test="item.userType != null and item.userType !=  -1 ">
          user_type = #{item.userType,jdbcType=INTEGER},
        </if>
        <if test="item.photo != null and item.photo !=  ''">
          photo = #{item.photo,jdbcType=VARCHAR},
        </if>
        <if test="item.loginIp != null and item.loginIp !=  ''">
          login_ip = #{item.loginIp,jdbcType=VARCHAR},
        </if>
        <if test="item.loginDate != null ">
          login_date = #{item.loginDate,jdbcType=TIMESTAMP},
        </if>
        <if test="item.loginFlag != null and item.loginFlag !=  -1 ">
          login_flag = #{item.loginFlag,jdbcType=INTEGER},
        </if>
        <if test="item.createBy != null and item.createBy !=  -1 ">
          create_by = #{item.createBy,jdbcType=INTEGER},
        </if>
        <if test="item.createDate != null ">
          create_date = #{item.createDate,jdbcType=TIMESTAMP},
        </if>
        <if test="item.updateBy != null and item.updateBy !=  -1 ">
          update_by = #{item.updateBy,jdbcType=INTEGER},
        </if>
        <if test="item.updateDate != null ">
          update_date = #{item.updateDate,jdbcType=TIMESTAMP},
        </if>
        <if test="item.remarks != null and item.remarks !=  ''">
          remarks = #{item.remarks,jdbcType=VARCHAR},
        </if>
        <if test="item.delFlag != null and item.delFlag !=  -1 ">
          del_flag = #{item.delFlag,jdbcType=INTEGER},
        </if>
        <if test="item.salt != null and item.salt !=  ''">
          salt = #{item.salt,jdbcType=VARCHAR}
        </if>
      </set>
      where id = #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>

  <delete id="delete" parameterType="com.ynnjii.sys.domain.SysUser">
    delete from sys_user
    <trim prefix="where" prefixOverrides="and|or">
      <if test="id != null and id !=  -1 ">
        id = #{id,jdbcType=INTEGER}
      </if>
      <if test="departmentId != null and departmentId !=  -1 ">
        and department_id = #{departmentId,jdbcType=INTEGER}
      </if>
      <if test="loginName != null and loginName !=  ''">
        and login_name = #{loginName,jdbcType=VARCHAR}
      </if>
      <if test="password != null and password !=  ''">
        and password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="no != null and no !=  ''">
        and no = #{no,jdbcType=VARCHAR}
      </if>
      <if test="name != null and name !=  ''">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="email != null and email !=  ''">
        and email = #{email,jdbcType=VARCHAR}
      </if>
      <if test="phone != null and phone !=  ''">
        and phone = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="mobile != null and mobile !=  ''">
        and mobile = #{mobile,jdbcType=VARCHAR}
      </if>
      <if test="userType != null and userType !=  -1 ">
        and user_type = #{userType,jdbcType=INTEGER}
      </if>
      <if test="photo != null and photo !=  ''">
        and photo = #{photo,jdbcType=VARCHAR}
      </if>
      <if test="loginIp != null and loginIp !=  ''">
        and login_ip = #{loginIp,jdbcType=VARCHAR}
      </if>
      <if test="loginDate != null ">
        and login_date = #{loginDate,jdbcType=TIMESTAMP}
      </if>
      <if test="loginFlag != null and loginFlag !=  -1 ">
        and login_flag = #{loginFlag,jdbcType=INTEGER}
      </if>
      <if test="createBy != null and createBy !=  -1 ">
        and create_by = #{createBy,jdbcType=INTEGER}
      </if>
      <if test="createDate != null ">
        and create_date = #{createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="updateBy != null and updateBy !=  -1 ">
        and update_by = #{updateBy,jdbcType=INTEGER}
      </if>
      <if test="updateDate != null ">
        and update_date = #{updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="remarks != null and remarks !=  ''">
        and remarks = #{remarks,jdbcType=VARCHAR}
      </if>
      <if test="delFlag != null and delFlag !=  -1 ">
        and del_flag = #{delFlag,jdbcType=INTEGER}
      </if>
      <if test="salt != null and salt !=  ''">
        and salt = #{salt,jdbcType=VARCHAR}
      </if>
    </trim>
  </delete>

  <select id="findRoles" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT
    ro.en_name
    FROM
    (
    SELECT
    role_id
    FROM
    sys_user_role
    WHERE
    user_id = (
    SELECT
    id
    FROM
    sys_user
    WHERE
    login_name = #{userName,jdbcType=VARCHAR}
    )
    ) ud
    LEFT JOIN sys_role ro ON ro.id = ud.role_id
    where ro.del_flag=0 and ro.status=1;
  </select>

  <select id="findPermissions" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT
    sm.menu_code
    FROM
    (
    SELECT
    role_id
    FROM
    sys_user_role
    WHERE
    user_id = (
    SELECT
    id
    FROM
    sys_user
    WHERE
    login_name = #{userName,jdbcType=VARCHAR}
    )
    ) ud
    LEFT JOIN sys_role_menu rm ON rm.role_id = ud.role_id
    LEFT JOIN sys_menu sm ON rm.menu_id = sm.id;
  </select>

  <select id="findMenuByUsername" parameterType="java.lang.String" resultMap="com.ynnjii.sys.dao.SysMenuMapper.BaseResultMap">
    SELECT
    *
    FROM
    (SELECT
    rp.menu_id
    FROM
    (SELECT
    ro.id
    FROM
    (SELECT
    role_id
    FROM
    sys_user_role
    WHERE
    user_id = (SELECT
    id
    FROM
    sys_user
    WHERE
    login_name =#{userName,jdbcType=VARCHAR})) ud
    LEFT JOIN sys_role ro ON ro.id = ud.role_id) ri
    LEFT JOIN sys_role_menu rp ON rp.role_id = ri.id) cr,
    sys_menu m
    WHERE
    cr.menu_id = m.id and m.status=1 and m.menu_type=0 and m.del_flag=0
  </select>


  <resultMap id="selectUserTreeMap" type="com.ynnjii.sys.dto.DeptWithUser">
    <id column="d_id" jdbcType="INTEGER" property="id" />
    <result column="d_name" jdbcType="VARCHAR" property="name" />
    <result column="d_parent_id" jdbcType="INTEGER" property="parentId" />
    <collection property="users" resultMap="BaseResultMap"/>
  </resultMap>
  <select id="selectUserTree" resultMap="selectUserTreeMap">
    select d.id as d_id,
    d.name as d_name,
    d.parent_id as d_parent_id,
    u.*
    from sys_department d
    left join sys_user u on d.id=u.department_id
    where d.status=1 and d.del_flag=0 and (u.del_flag is null || u.del_flag=0)
    order by d.sort,d.id
  </select>

  <select id="findDataRight" parameterType="java.lang.String"
          resultType="int">
    SELECT d.department_id
    FROM sys_role_department d
    LEFT JOIN sys_role role ON d.role_id = role.id
    LEFT JOIN sys_user_role u ON u.role_id = role.id
    LEFT JOIN sys_user a ON a.id = u.user_id
    WHERE a.login_name = #{userName,jdbcType=VARCHAR}
  </select>

  <select id="findFullRoles" parameterType="java.lang.String" resultMap="com.ynnjii.sys.dao.SysRoleMapper.BaseResultMap">
    SELECT role.*
    FROM sys_role role
    LEFT JOIN sys_user_role u ON u.role_id = role.id
    LEFT JOIN sys_user a ON a.id = u.user_id
    WHERE a.login_name = #{userName,jdbcType=VARCHAR}
  </select>

  <select id="findUserRight" parameterType="com.ynnjii.sys.domain.SysUser"
          resultType="java.lang.Integer">
    SELECT
    b.user_id
    FROM sys_user a
    LEFT JOIN sys_user b on b.yy_user_parent_code = .yy_user_code
    WHERE
    a.user_name = #{userName,jdbcType=VARCHAR} and b.user_id is not null;
  </select>


  <resultMap id="FullResultMap" type="com.ynnjii.sys.dto.SysUserDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="login_date" jdbcType="TIMESTAMP" property="loginDate" />
    <result column="login_flag" jdbcType="INTEGER" property="loginFlag" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />

  </resultMap>
  <select id="selectFull" parameterType="com.ynnjii.sys.domain.SysUser" resultMap="FullResultMap">
    select
    u.*,d.name as department_name
    from sys_user u
    left join sys_department d on d.id=u.department_id
    <trim prefix="where" prefixOverrides="and|or">
      <if test="id != null and id !=  -1 ">
        u.id = #{id,jdbcType=INTEGER}
      </if>
      <if test="departmentId != null and departmentId !=  -1 ">
        and u.department_id = #{departmentId,jdbcType=INTEGER}
      </if>
      <if test="loginName != null and loginName !=  ''">
        and u.login_name like CONCAT('%',#{loginName,jdbcType=VARCHAR},'%')
      </if>
      <if test="password != null and password !=  ''">
        and u.password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="no != null and no !=  ''">
        and u.no = #{no,jdbcType=VARCHAR}
      </if>
      <if test="name != null and name !=  ''">
        and u.name like CONCAT('%',#{name,jdbcType=VARCHAR},'%')
      </if>
      <if test="email != null and email !=  ''">
        and u.email = #{email,jdbcType=VARCHAR}
      </if>
      <if test="phone != null and phone !=  ''">
        and u.phone = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="mobile != null and mobile !=  ''">
        and u.mobile = #{mobile,jdbcType=VARCHAR}
      </if>
      <if test="userType != null and userType !=  -1 ">
        and u.user_type = #{userType,jdbcType=INTEGER}
      </if>
      <if test="photo != null and photo !=  ''">
        and u.photo = #{photo,jdbcType=VARCHAR}
      </if>
      <if test="loginIp != null and loginIp !=  ''">
        and u.login_ip = #{loginIp,jdbcType=VARCHAR}
      </if>
      <if test="loginDate != null ">
        and u.login_date = #{loginDate,jdbcType=TIMESTAMP}
      </if>
      <if test="loginFlag != null and loginFlag !=  -1 ">
        and u.login_flag = #{loginFlag,jdbcType=INTEGER}
      </if>
      <if test="createBy != null and createBy !=  -1 ">
        and u.create_by = #{createBy,jdbcType=INTEGER}
      </if>
      <if test="createDate != null ">
        and u.create_date = #{createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="updateBy != null and updateBy !=  -1 ">
        and u.update_by = #{updateBy,jdbcType=INTEGER}
      </if>
      <if test="updateDate != null ">
        and u.update_date = #{updateDate,jdbcType=TIMESTAMP}
      </if>
      <if test="remarks != null and remarks !=  ''">
        and u.remarks = #{remarks,jdbcType=VARCHAR}
      </if>
      <if test="delFlag != null and delFlag !=  -1 ">
        and u.del_flag = #{delFlag,jdbcType=INTEGER}
      </if>
      <if test="salt != null and salt !=  ''">
        and u.salt = #{salt,jdbcType=VARCHAR}
      </if>
    </trim>
  </select>

</mapper>