<link rel="stylesheet" href="${baseRoot!}/css/menu.css">
<ul id="accordion" class="accordion">
    <!--<li>
        <div class="link" data-index="0">系统管理</div>
        <ul class="submenu">
            <li><a href="${baseRoot!}/admin/user/list">用户管理</a></li>
            <li><a href="${baseRoot!}/admin/menu/list">菜单管理</a></li>
            <li><a href="${baseRoot!}/admin/role/list">角色管理</a></li>
            <li><a href="${baseRoot!}/admin/department/list">组织管理</a></li>
        </ul>
    </li>
    <li><div class="link" data-index="1">项目管理</div>
        <ul class="submenu">
            <li><a href="${baseRoot!}/admin/customer/list">客户管理</a></li>
        </ul>
    </li>-->

    <#if leftMenuList?? && leftMenuList?size gt 0>
    <#list leftMenuList as item>
    <li>
        <div class="link" data-index="${item_index}">${item.name}</div>
        <#if item.children?? && item.children?size gt 0>
        <ul class="submenu">
            <#list item.children as ls>
            <li><a href="${baseRoot!}${ls.url}">${ls.name}</a></li>
            </#list>
        </ul>
        </#if>
    </li>
    </#list>
    </#if>
</ul>

<script src="${baseRoot!}/js/menu.js"></script>