<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户管理</title>

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-table.min.css" rel="stylesheet">
    <script src="/assets/js/jquery-3.1.0.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap-table.min.js"></script>
    <script src="/assets/js/bootstrap-table-zh-CN.js"></script>
    <script src="/assets/js/layer/layer.js"></script>
    <script src="/assets/js/jquery.serializejson.js"></script>

</head>
<body>
<div class="container">
    <form id="toolForm" class="form-inline" role="form">
        <div class="form-group">
            <label>姓名：</label>
            <input type="text" class="form-control" name="name" placeholder="请输入姓名">
        </div>
    </form>
    <div id="toolbar" class="btn-group">
        <button type="button" class="btn btn-default" id="searchBtn" title="查询">
            <i class="glyphicon glyphicon-search"></i>
        </button>
        <button type="button" class="btn btn-default" id="addBtn" title="添加">
            <i class="glyphicon glyphicon-plus"></i>
        </button>
    </div>

    <table id="dataTable"
           data-toolbar="#toolbar"
           data-toggle="table"
           data-url="/admin/user/getData"
           data-pagination="true"
           data-side-pagination="server"
           data-query-params-type=""
           data-click-to-select="true"
    >
        <thead>
        <tr>
            <th data-align="center" data-formatter="indexFormatter">序号</th>
            <th data-field="loginName" data-align="center">登录名</th>
            <th data-field="name" data-align="center">姓名</th>
            <th data-field="mobile" data-align="center">手机</th>
            <th data-field="photo" data-align="center">用户头像</th>
            <th data-field="loginFlag" data-align="center">状态</th>
            <th data-align="center" data-formatter="operateFormatter" data-events="operateEvents">操作</th>
        </tr>
        </thead>
    </table>
</div>
</body>

<script>
    $(function () {
        $("#searchBtn").click(function(){
            reloadTable();
        });

        $("#addBtn").click(function () {
            layer.open({
                type: 2,
                title: '添加用户',
                maxmin: true,
                shadeClose: true,
                area : ['800px' , '520px'],
                content: '/admin/user/add'
            });
        });

    });

    // 序号
    function indexFormatter(value,row,index) {
        return index + 1;
    }

    // 操作按钮
    function operateFormatter(value, row, index) {
        return [
            '<a class="edit ml10" href="javascript:void(0)" title="修改">',
            '<i class="glyphicon glyphicon-edit"></i>',
            '</a>',
            '<a class="remove ml10" href="javascript:void(0)" title="删除">',
            '<i class="glyphicon glyphicon-remove"></i>',
            '</a>'
        ].join('');
    }

    // 操作事件
    window.operateEvents = {

        // 编辑
        'click .edit': function (e, value, row, index) {
            layer.open({
                type: 2,
                title: '编辑用户',
                maxmin: true,
                shadeClose: true,
                area : ['800px' , '520px'],
                content: '/admin/user/edit?id=' + row.id
            });
        },

        // 删除
        'click .remove': function (e, value, row, index) {
            layer.confirm('确定删除该数据？',function(index){
                layer.close(index);

                $.ajax({
                    url:'/admin/user/del',
                    type:'POST',
                    data:{id:row.id,"rdm":Math.random},
                    dataType:'json',
                    success:function(data) {
                        if (data.code == 1) {
                            layer.msg(data.msg);
                            setTimeout(function () {
                                parent.reloadTable();
                            },1000);
                        } else {
                            layer.msg(data.msg);
                        }
                    }
                });
            });
        }
    };

    // 关闭编辑页面弹框
    function layerClose() {
        layer.closeAll('iframe');
    }

    // 刷新数据
    function reloadTable() {
        var data = $("#toolForm").serializeJson();
        $("#dataTable").bootstrapTable('refresh',{query:data});
    }

    // 刷新数据 来自编辑页面
    function reloadPage() {
        layerClose();
        reloadTable();
    }

</script>

</html>